$left-action-bar-width: 300px;

.note-document-page {
  height: 100%;
  width: 100%;
}

.note-document {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  // transform: scale(0.6);
}

.note-document-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100%;
  max-height: 20000px;
  height: auto;
}

.note-document-right-section-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: calc(100% - 308px);
  height: 100%;
  box-sizing: border-box;
}

.note-document__document-interaction-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.note-document-page__left-action-bar {
  display: inline-block;
  vertical-align: top;
  flex-grow: 0;
  flex-shrink: 0;
  width: $left-action-bar-width - 20px;
  margin-right: 20px;
  padding: 20px;
  box-sizing: border-box;
  position: sticky;
  top: 10px;
  border: 1px solid $darkened-background-for-border-color;
  background: white;
  border-radius: 5px;
  margin-top: 20px;
  min-height: 200px;

  button {
    width: 100%;
  }
}

// - keep back
.document-wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border-right: 1px solid $darkened-background-for-border-color;
  border-left: 1px solid $darkened-background-for-border-color;
  background: white;
}

.document {
  text-align: left;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  // box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  background: white;
  margin: 0;
  // border-radius: 5px;
  padding: 50px 0;
  box-sizing: border-box;
  position: relative;
}

.end-of-doc {
  // width: 100%;
  // height: 10px;
  // background: red;
}

.document__name {
  @extend .instructions;
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 20px);
}

.new-note-line-placeholder {
  opacity: 0.5;
  font-style: italic;
}

.note-document__interactions {
  position: sticky;
  z-index: 15;
  bottom: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.note-document-interactions__empty-space {
  width: $left-action-bar-width;
  display: inline-block;
  vertical-align: top;
}

.note-document__interactions-inner {
  width: 100%;
  margin: 0;
  text-align: left;
  border: 1px solid $darkened-background-for-border-color;
  background: white;
  padding: 30px;
  box-sizing: border-box;
}

.instructions {
  font-size: 11px;
  font-weight: bold;
  color: #aaa;
  width: 100%;
  letter-spacing: 1px;
}

.interactions-formatting {
  @extend .instructions;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.interactions-formatting-text {
  margin-right: 10px;
}

.interactions-formatting-label {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-top: -2px;
  background: white;
  color: $green;
  // box-shadow: 0 1px 4px 0 rgba(black, 0.3);
  border: 1px solid $darkened-background-for-border-color;
  transition: background 0.1s ease, color 0.1s ease;

  &:hover {
    cursor: pointer;
    background: $green;
    color: white;
    transition: background 0.1s ease, color 0.1s ease;

    .interactions-formatting-label__name {
      border-color: white;
      transition: border-color 0.1s ease;
    }
  }

  .interactions-formatting-label__name {
    border-right: 1px solid $darkened-background-for-border-color;
    padding: 0 12px;
    transition: border-color 0.1s ease;
  }

  .interactions-formatting-label__icon {
    padding: 0 8px;

    i {
      margin-left: 3px;
    }
  }
}

.document-instructions {
  @extend .instructions;
  position: absolute;
  bottom: 15px;
  text-align: center;
}

// %note-item {
//   box-sizing: border-box;
//   padding: 10px 20px;
//   border: 1px solid #eee;
// }
//
// .plain-note-item {
//   @extend %note-item;
//   flex-shrink: 0;
// }

.notes-input-form {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

// - actually a textarea
.notes-input {
  outline: none;
  resize: none;
  width: 100%;
  height: 100px;
  border: 1px solid $darkened-background-for-border-color;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 auto;
  font-size: 16px;

  &:hover {
    border-color: $green;
  }

  &:focus {
    border-color: $green;
    box-shadow: 0 2px 8px 0 rgba($green, 0.4);
  }
}
