.notes-example-line {
  height: 4px;
  margin-top: 6px;
  border-radius: 3px;
  background: darken(white, 7%);

  &:first-child {
    margin-top: 0;
  }
}

%notes-example-line-specific {
  position: relative;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;

  &::before {
    content: '';
    position: absolute;
    color: $green;
  }

  .note-line {
    height: 3px;
    background: $green;
    margin-top: 3px;
    opacity: 0.9;
    border-radius: 3px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.notes-example-line__quote {
  @extend %notes-example-line-specific;
  padding: 0 20px;

  &::before {
    content: '"';
    left: 12px;
    font-size: 40px;
    opacity: 0.5;
  }
}

.notes-example-line__bullet-one {
  @extend %notes-example-line-specific;
  padding-left: 30px;

  &::before {
    content: '-';
    top: -10px;
    left: 10px;
  }
}

.notes-example-line__bullet-two {
  @extend %notes-example-line-specific;
  padding-left: 60px;

  &::before {
    content: '-';
    top: -10px;
    left: 40px;
  }
}

.notes-example-line__bullet-three {
  @extend %notes-example-line-specific;
  padding-left: 90px;

  &::before {
    content: '-';
    top: -10px;
    left: 70px;
  }
}

.notes-type-example {
  flex-grow: 1;
}
